*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  background:rgb(52, 51, 51);
  color: white;
}

header{
  /* background: azure; */
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  padding: 0 1.5rem;

}

.temp-company-name{
  flex:1 1 auto;
  padding-left:0.25rem;
}

nav{
  margin-right: 150px;
}
ul{
  display: flex;
  /* justify-content: space-around;
  align-items: center; */
  list-style-type:none;
}

ul li a{
  text-decoration:none;
  padding: 0 1.7rem;
  color: rgb(255, 255, 255);
  display:inline-block;
}

li a::after{
  content:'';
  display: block;
  height: 1px;
  width: 0px;
  background:rgb(255, 255, 255);
  transition:all .45s;
}

li a:hover::after{
  width:100%;
}

main {
  display: flex;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
}

main h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

main h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: rgb(154, 183, 211);
  display: inline-block;
}

main p{
  padding-top:40px;
  align-items: stretch;
  width: 400px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: smaller;
}

.content-left{
  padding: 20px;
  margin-left: 100px;
  flex: auto;
}

input[type=text], select {
  width: fit-content;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

div.container {
  border-radius: 15px;
  background-color: #fafafa;
  padding: 30px;
  margin-right: 250px;
  /* border: 3px solid rgb(172, 190, 207); */
  color:black;
  font-family: 'Open Sans', sans-serif;
}

.submit{
  width:fit-content;
  padding:10px;
  margin-top:1rem;
  background-color:rgb(154, 183, 211);
  opacity: inherit;
  border-radius: 15px;
}

.social-media-icons{
  display: inline-block;
  padding: 10rem;
}