*{
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
}
body{
  font-family: 'Open Sans', sans-serif;
}

header{
  background-color: azure;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li a{
  text-decoration: none;
}

nav ul{
  list-style-type:none;
}